@import '../../App.scss';

$MARGIN_16 : 16px;
$MARGIN_32 : 32px;

// card-title'>{item.title}</h1>
//                 <div className='card-free-shiping-container'>{item.free_shipping ? 'Envio Gratis' : ''}</div>
//                 <img className='card-picture' alt='item-picture' src={item.picture} />
//                 <div className='card-price

.item-list-container {
    width: 65%;
    margin: auto;
}

.card-container {
    background-color: #FFFFFF;
    width: 100%;
    margin: auto;
    border-bottom: thin solid $BACKGROUND;
    padding: 0 32px;
    display: flex;
    flex-direction: row;
}

.card-item-picture {
    width: 30%;
}

.card-picture {
    width: 180px;
    height: 180px;
    border-radius: 4px;
    margin: $MARGIN_16;
    object-fit: scale-down;
}

.item-detail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    margin-top: 32px;
    padding-left: 35px;
}

.card-price-section {
    display: flex;
    flex-direction: row;
}

.card-price {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: $MARGIN_32;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

// .card-free-shiping-container {}

.card-free-shipping-img {
    margin-left: $MARGIN_16;
    margin-top: 4px;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    cursor: pointer;

}

.card-description {
    font-size: 18px;
    cursor: pointer;
}

.card-location {
    font-size: 12px;
    text-align: left;
    width: 10%;
    padding-top: $MARGIN_32
}