@import '../../App.scss';

ul.breadcrumb {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.breadcrumb-item {
    display: inline;
    font-size: 14px;
    color: $LIGHT_GREY;
}


.breadcrumb-container {
    margin: 12px 0;
    width: 100%;
}

.greater-separator {
    font-size: 14px;
    padding: 0px 8px;
    color: $DARK_GREY;
    cursor: default;
}


@media screen and (max-width: $MOBILE_MAX_WIDTH) {

    .breadcrumb-item {
        font-size: 12px;
    }

    .greater-separator {
        font-size: 12px;
    }

}