@import '../../App.scss';

ul.breadcrumb {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.breadcrumb-item {
    display: inline;
    font-size: 14px;
    color: $LIGHT_GREY;
    cursor: pointer;

    &+.breadcrumb-item:before {
        padding: 0px 8px;
        color: black;
        content: ">";
        cursor: default;
    }
}


.breadcrumb-container {
    margin: 12px 0;
}